@import url('clear.css');
@import url('ui-lightness/jquery-ui-1.8.4.custom.css');
body{margin-left:40px;}
#combatants{
    margin: 5px;
}

#combatants li{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 5px solid #000;
    margin: 5px 0;
    padding:10px;
}

#combatants li.highlighted {border-color: blue; border-style:dotted;}
#combatants li.hostile.highlighted {border-color: red;}

#combatants li.selected {background: -moz-linear-gradient(left,  #fff,  #4f4);}
#combatants li.hostile.selected {background: -moz-linear-gradient(left,  #fcc,  #4f4);}

#cmb {height:430px;overflow-y:auto;}

dd,dt {float:left; margin:0 0.7em;}

.damage {float:right;}

.hurt {background-color:#FEE;}

li.hostile {background-color:#f88; border-color:#faa;}

li.active {margin-left:2em !important;}

li.bloody .player-name {background: -moz-linear-gradient(left,  #faa,  #f00);}
.player-name {padding-right:100px;}

#combat-summary {height:20px;}