@import url('clear.css');
@import url('ui-lightness/jquery-ui-1.8.4.custom.css');

#combatants{
    margin: 5px;
}

#combatants li{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 5px solid #000;
    padding:10px;
    margin: 5px 0;
}

#combatants li.highlighted {border-color: blue;}
#combatants li.hostile.highlighted {border-color: red;}


#combatants li.selected {background: -moz-linear-gradient(left,  #fff,  #4f4);}
#combatants li.hostile.selected {background: -moz-linear-gradient(left,  #fcc,  #4f4);}


#combatants.moving li.highlighted {border-style:dashed;}
div#main-body {height:460px;overflow-y:auto;}

dd,dt {float:left; margin:0 0.7em;}

.damage {float:right;}

.hurt {background-color:#FEE;}

li.hostile {background-color:#fcc; border-color:#faa;}